useDynLib(AHM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, setNames)
importFrom(parallel, detectCores, makeCluster, mclapply, parLapply,
           clusterExport, clusterSetRNGStream, stopCluster)
S3method(print, AHMQ_summary)
S3method(print, AHMQ_simulation_summary)
S3method(print, AHMQ_estimates)

export(AHMQ)
export(AHM)
export(Est_fun)
export(extract_estimates)
export(summary_AHMQ)
export(compute_DIC)
export(compute_DIC_fixedQ)
export(compute_Rhat)
export(compute_Rhat_curve)
export(plot_Rhat_curve)
export(plot_G_graph)
export(traceplot_AHMQ)
export(select_chain_by_DIC)
export(resolve_label_switch)
export(align_samples_to_truth)
export(align_estimates_to_truth)
export(simu_alpha)
export(simu_Q)
export(simulate_ahmq_data)
export(DINA_data)
export(G_recovery_metrics)
export(Q_recovery_metrics)
export(Restricted_Q)
export(samevec)
export(single_run_bias)
export(simu_result_summary)
export(AAR)
export(PAR)
export(ecpe_ahmq_data)
export(run_AHM_app)
